@model BanroWebApp.Models.AccountStatus
@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    //  ViewBag.Title = "SearchDepartement";
}
@{

    ViewBag.Title = "AddBonCommand";
    Layout = "~/Views/Shared/_Menu.cshtml";
    BanroWebApp.Models.Authenticate auth2 = null;
    if (Session["userinfo"] != null)
    {
        auth2 = (BanroWebApp.Models.Authenticate)Session["userinfo"];
        if (!auth2.Priority.ToLower().Equals("administrator"))
        {
            Response.Redirect("AddEmployeeContractor");
        }
    }
    else
    {
        Response.Redirect("~/");
    }
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
               Employees Contractor List<i class="fa fa-users" style="float:right;"></i>
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @using (@Html.BeginForm())
    {
        <div style="width:100%;position:relative;left:0px;margin-left:0px;" id="page-wrapper" ng-app="app" ng-controller="CtrlHome">
            <div class="row">

                <div class="col-lg-12">
                    @{
                      
                        if (Request.HttpMethod.Equals("POST"))
                        {
                            if (ViewBag.message == "1")
                            {
                                <div class="alert alert-success" id="alertDep">
                                    Successfully Modify
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" id="alertDep">
                                    No Action, Please check a value
                                </div>
                            }

                        }
                    }
                    @{
                        int index = 0;
                        List<BanroWebApp.Models.Employee_Contractor> EC = new List<BanroWebApp.Models.Employee_Contractor>();
                        System.Web.Script.Serialization.JavaScriptSerializer serial = new System.Web.Script.Serialization.JavaScriptSerializer();
                        var db = new BanroWebApp.Models.BANROEntities();
                        var Query = from ds in db.employee_contractor
                                    join contractor in db.t_contractor
                                    on ds.C_idContractor equals contractor.C_id
                                    where contractor.C_idSucc.Equals(auth2.Succursale)
                                    select new { ds, contractor };
                        if (auth2.Priority.ToLower().Equals("administrator"))
                        {
                            Query = from ds in db.employee_contractor
                                    join contractor in db.t_contractor
                                    on ds.C_idContractor equals contractor.C_id
                                    //where contractor.C_idSucc.Equals(auth.Succursale)
                                    select new { ds, contractor };
                        }
                        foreach (var item in Query)
                        {
                            BanroWebApp.Models.Employee_Contractor ctr = new BanroWebApp.Models.Employee_Contractor
                            {
                                id = item.ds.C_id,
                                name = item.ds.C_name,
                                phone = item.ds.C_phone,
                                adress = item.ds.C_adresse,
                                Sexe = (item.ds.C_sex == "M" ? "Man" : "Woman"),
                                idCompany = item.contractor.C_name,
                                status = item.ds.C_status_system,
                                //datenais = item.ds.C_datenais
                            };
                            EC.Add(ctr);

                        }
                        var dataAlls = serial.Serialize(EC);
                    }
                </div>


                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" onload="" style="font-size:10px;">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="display:inline-block;width:100%">
                            <button type="submit" href="AddEmployeeContractor" class="btn btn-primary" style="float:right;display:inline-block"><i class="fa fa-lock"></i> Change</button>
                            <a href="AddEmployeeContractor" class="btn btn-success" style="float:right;display:inline-block"><i class="fa fa-pencil"></i> Add new</a>

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size:10px;">
                                    <thead>
                                        <tr>
                                            @*<th>Id bon</th>*@
                                            <th>Id Employee</th>
                                            <th>Name Employee</th>
                                            <th>Gender</th>
                                            <th>Phone</th>
                                            <th>Company</th>
                                            <th>
                                                <input type="checkbox" name="name" onclick="allCheck(@dataAlls)" id="statusCheck" value=" " />Acount Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{


                                            foreach (var item in Query)
                                            {
                                                BanroWebApp.Models.Employee_Contractor ctr = new BanroWebApp.Models.Employee_Contractor
                                                {
                                                    id = item.ds.C_id,
                                                    name = item.ds.C_name,
                                                    phone = item.ds.C_phone,
                                                    adress = item.ds.C_adresse,
                                                    Sexe = (item.ds.C_sex == "M" ? "Man" : "Woman"),
                                                    idCompany = item.contractor.C_name,
                                                    status = item.ds.C_status_system,
                                                    //datenais = item.ds.C_datenais
                                                };
                                                Dictionary<String, String> dict = new Dictionary<string, string>();
                                                dict.Add("id", item.ds.C_id.ToString());
                                                dict.Add("status", item.ds.C_status_system.ToString());
                                                var data = serial.Serialize(dict);

                                                String id = "t" + index;
                                                String idE = "tide" + index;
                                                String name = "tsex" + index;
                                                String sex = "tname" + index;
                                                String phone = "tphone" + index;
                                                String company = "tcompany" + index;
                                                <tr class="odd gradeX">
                                                    <td id="@idE">@item.ds.C_id</td>
                                                    <td id="@name">@item.ds.C_name</td>
                                                    <td id="@sex">@item.ds.C_sex</td>
                                                    <td id="@phone">@item.ds.C_phone</td>
                                                    <td id="@company">@item.contractor.C_name</td>
                                                    <td id="td"> <input type="checkbox" name="name" onclick="fillTab(@data,@index)" id="@id" value=" " /> @(item.ds.C_status_system.Equals("1") ? "Enabled" : "Disabled")</td>


                                                </tr>
                                                index++;
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="form-group" style="display:none">
                                    @Html.TextAreaFor(Models => Models.value, new { Class = "form-control", @Id = "valueAccount" })
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display:none;" id="modal">
                            Launch Demo Modal
                        </button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #337ab7;color:white;">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel"></h4>
                                    </div>

                                    <div class="modal-body">

                                        <label>List of departments</label>

                                        <select class="form-control" id="cbo_depart">
                                            <option ng-repeat="depart in ListDepartementBySucc">{{depart.code_depart}}</option>
                                        </select>

                                        <label>New Name</label>
                                        <input class="form-control" disabled="disabled" id="depDisabled">
                                        <input class="form-control" style="display:none" id="depSave" ng-model="updatedep">
                                    </div>
                                    <div class="modal-footer">
                                        <div class="alert alert-success" id="alertdep" style="display:none;float:left;width:70px;background-color:white;">
                                            Successfull modify
                                        </div>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        @if (auth2.Priority.Equals("administrator") || auth2.Priority.Equals("user"))
                                        {
                                            <button type="button" ng-click="updateDepartement()" class="btn btn-primary">Save</button>

                                        }
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>
        </div>
        @*<div class="form-group input-group">

                <form method="get">

                    <input type="text" name="idsucc" id="idsucc" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="height:34px;">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>


                </form>
            </div>*@
    }
    <!-- /.row -->


</div>
<!-- /#page-wrapper -->
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script>
    
    var Table=[];
    var ctrlAccount=document.querySelector('#valueAccount');
    var ctr=0;
    function fillTab(object, index) {
        document.querySelector('#alertDep').style="display:none;"
        ctrlAccount.value = "";
        var t='#t'+index;
        if (document.querySelector(t).checked){
            Table.push(object);
            ctrlAccount.value = JSON.stringify(Table);
        }else {
            var i=Table.indexOf(object);
            Table.splice(i,1);
            console.log(Table.length)
            if (Table.length>0) {
                ctrlAccount.value = JSON.stringify(Table);
            } else {
                ctrlAccount.value = "";
            }

        }

        console.log(JSON.stringify(Table));
    }
    var allValue = true;
    function allCheck(listDatas) {
        document.querySelector('#alertDep').style = "display:none;"

        var arrayJSON = [];
        Table=listDatas;
        
        var td = document.querySelector('#td');
        var statusCheck = document.querySelector('#statusCheck');
        if (statusCheck.checked==true) {
            var table = $('#dataTables-example').DataTable();
            var data = table.rows()
                            .data();
            for (var i = 0; i < table.rows({ page: 'current' }).nodes().length; i++) {
                var currentTab=table.rows({ page: 'current' }).data()[i];
                var k=currentTab[5].toString().lastIndexOf(' ');
                var status=currentTab[5].toString().substring(k);
                var id=currentTab[5].toString().substring(currentTab[5].toString().indexOf('id=')).trim();
             
                id='#'+id.split('"')[1];
                document.querySelector(id).checked=true;
                console.log("Id Cell :",id);
                var obj=
                    {
                        id:currentTab[0].trim(),
                        status:(status.trim()=="Enabled"?"1":"0")
                    }
                   
                console.log('Object  :',obj)
                Table.push(obj);
            }
            
            ctrlAccount.value = JSON.stringify(Table);
        } else {
            for (var i = 0; i < table.rows({ page: 'current' }).nodes().length; i++) {
                var currentTab=table.rows({ page: 'current' }).data()[i];
                var k=currentTab[5].toString().lastIndexOf(' ');
                var status=currentTab[5].toString().substring(k);
                var id=currentTab[5].toString().substring(currentTab[5].toString().indexOf('id=')).trim();
             
                id='#'+id.split('"')[1];
                document.querySelector(id).checked=false;
              

            }
            ctrlAccount.value="";

        }
        

    }
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            'ordering':false
        });
    });

</script>